@{
    ViewData["Title"] = "خانه";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>خوش آمدید به ماکسیما هوم</h1>
            <p>تعمیرگاه تخصصی خودروهای هیبرید، ژاپنی، چینی در یزد</p>
        </div>
    </div>
</div> 